<html>{% load static %}
    <header>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-responsive.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-rtl.css' %}"/>
        <link href="{% static 'css/blog.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    </header>
<body>
    <header>
      <div class="blog-masthead">
        <div class="container">
          <nav class="nav">
            <a class="nav-link active" href="/weblog/">صفحه نخست</a>
            <a class="nav-link" href="/weblog/list">لیست نوشته ها</a>
            <a class="nav-link" href="/weblog/add">درج نوشته جدید</a>
          </nav>
        </div>
      </div>
    </header>
    <main role="main" class="container">
      <div class="row">
        {% block content %}{% endblock%}
        {% include 'sidebar.html'  %}
      </div><!-- /.row -->
    </main><!-- /.container -->
    {% include 'footer.html'  %}
  </body>
</html>

