{% extends 'base.html' %}

{% block title%} صفحه نخست{% endblock %}

{% block content%}
<div class="col-sm-8 blog-main">
  {% for data in datas %}
  <div class="blog-post">
    <h2 class="blog-post-title">{{data.title}}</h2>
    <p class="blog-post-meta text-hide">January 1, 2014 by <a href="#">Mark</a></p>
    <p>{{data.body}}</p>
  </div><!-- /.blog-post -->
  {% endfor %}

  <!--- <nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
  </nav>-->

</div><!-- /.blog-main -->
{% endblock %}